*~
^rcppExports.cpp$
^stanExports_*
!man/geostan-internal.Rd
!man/figures/logo.png
man/*.Rd
.Rhistory
*~$
cran-comments.md
src/
R/stanmodels.R
man/*.Rd
.Rhistory
cran-comments.md
/doc/
/Meta/
CRAN-RELEASE
CRAN-SUBMISSION
test/*.csv
